.sketch {
  /* border: 3px solid black; */
  text-align: center;
  /*display: inline;*/
  /*margin: 25px;*/
}

.left-form {
  /* display: inline-block; */
  /*position: -webkit-sticky;*/
  position: sticky;
  top: 5px; 
  /*position: fixed;*/
  /*overflow: scroll;*/
}

.toggle-switch {
	position: absolute;
	right: 35px;
}